.footer {
    padding: 80px 0;
    background-color: #2D2D2D;
}

.footer__container {
    display: grid;

}

.footer__logo-block {
    padding-right: 118px;
}

.footer__catalog {
    padding-right: 98px;
}

.footer__buyers-info {
    padding-right: 181px;
}
